run = "go run . -debug=true -ssl=true -route=log/log.txt"
entrypoint = "main.go"

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "stable-21_11"